# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.auto.tfvars
crash.log
override.tf
override.tf.json

# Variables con secretos
*.tfvars
*.tfvars.json
!*.tfvars.example

# Lambdas — builds y dependencias
services/**/node_modules/
services/**/__pycache__/
services/**/*.pyc
services/**/.pytest_cache/
*.zip

# Entorno local
.env
.env.local
venv/

# macOS
.DS_Store